# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
# Archivos de las predicciones
# KEY
sandbox_estudiantes_key.json
.env
# Archivos auxiliares de pruebas
cambio-formato-histórico
prueba_main
# Archivos del entorno
env_sarimax
env_xgboost
env_tft
env_prueba
.venv
# Carpetas
Codigos/modelos/archivos/